<div class="row animated fadeIn">
    <div class="col">
        <input class="form-control" #termino (keyup)="buscarArtista(termino.value)" type="text" placeholder="Buscar artista">
    </div>
</div>

<app-loading class="m-md-5" *ngIf="loading"></app-loading>

<!-- <div class="card-columns main-container">
    <div class="card" *ngFor="let artista of artistas">
        <img [src]="artista.images | noimage " class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{ artista.name }} </h5>
        </div>
    </div>
</div> -->

<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>