<app-loading *ngIf="loading"> </app-loading>

<div *ngIf="!loading" class="row animated fadeIn">
    <div class="col-2">
        <img [src]="datosArtista.images | noimage" class="img-thumbnail" alt="">
    </div>
    <div class="col">
        <h2> {{ datosArtista.name }} </h2>
        <p>
            <a class="artist-link" [href]="datosArtista.external_urls.spotify" target="_blank">Página de <span class="text-verde"> {{datosArtista.name}} </span> en <span class="text-verde" >Spotify</span> </a>
        </p>
        <p>
            <small>Seguidores: </small> <strong class="text-verde">{{datosArtista.followers.total}}</strong>
        </p>
        <p>
            <small>Popularidad: </small> <strong class="text-verde">{{datosArtista.popularity}}</strong>
        </p>
    </div>
    <div class="col text-right">
        <button routerLink="/search" class="btn btn-outline-warning">
            Regresar
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th>Vista previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks">
                    <td> <img [src]="track.album.images | noimage" class="img-thumb"> </td>
                    <td> {{ track.album.name }} </td>
                    <td> {{ track.name }} </td>
                    <td *ngIf="track.preview_url">
                        <audio [src]="track.preview_url" controls></audio>
                    </td>
                    <td *ngIf="!track.preview_url">
                        No disponible
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>